*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(13, 13, 51);
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(43, 28, 58);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
}
.leftSection{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

    

.rightSection img{
    width: 68%;
    margin: 50px 0;
}